<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
     <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->       
        <meta name="description" content="未登录首页"/>
        <meta name="author" content="cc"/>
        <title>中国医学影像资源共享平台</title>

        <!-- CSS -->
        <!-- Bootstrap core CSS -->
        <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />

        <link th:href="@{css/cover.css}" rel="stylesheet" />

        <!-- Custom styles for this template -->


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

        <!-- Favicon and touch icons -->


    </head>

    <body background="img/111.png">


    <!-- Top content -->
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">中国医学影像资源共享平台</h3>
              <nav>
                <ul class="nav masthead-nav nva-right">
                  <li class="active"><a href="#">首页</a></li>
                  <li><a href="/gongneng">系统功能</a></li>
                  <li><a href="/lianxi">联系我们</a></li>
                </ul>
              </nav>
            </div>
          </div>

        <div class="row">
        <div class="col-md-8">

          <h2 >中国医学影像资源共享平台</h2>
          <h4 >中国医学影像资源共享平台旨在为广大影像医生、学生打造一个共享资源、学习进步的平台。</h4>
          </div>
          <div class="col-sm-3">

              <h2 class="form-signin-heading">请登录</h2>
              <label for="inputEmail" class="sr-only">用户名</label>
              <input type="text" id="inputEmail" name="inputEmail" class="form-control" placeholder="用户名" required="required" autofocus="autofocus"/>
              <label for="inputPassword" class="sr-only">密码</label>
              <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="密码" required="required"/>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me"/> 记住我
                </label>
              </div>

        <button type="button" class="btn btn-lg btn-primary btn-block" onclick="postData()">登录</button>
            <a class="btn btn-lg btn-success btn-block" href="/signup" role="button">注册</a>

     </div>
   </div>

          <div class="mastfoot">
            <div class="inner">
              <p> 中国医学影像资源共享平台<a href="http://www.xjtu.edu.cn"></a>, by <a href="http://www.xjtu.edu.cn/">@西安交通大学 2017</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


        
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
        <script th:src="@{/js/jquery.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/login.js}"></script>
    </body>
</html>