
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="未登录首页"/>
    <meta name="author" content="cc"/>
    <title>中国医学影像资源共享平台</title>

    <!-- CSS -->
    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />

    <link th:href="@{css/cover.css}" rel="stylesheet" />



</head>

<body background="img/111.png">

<!-- Top content -->


<div class="container">

    <div class="row clearfix">
        <div class="inner">
            <h3 class="masthead-brand">中国医学影像资源共享平台</h3>
            <nav>
                <ul class="nav masthead-nav nva-right">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="/gongneng">系统功能</a></li>
                    <li><a href="/lianxi">联系我们</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row clearfix">


        <div class="col-md-4 column">
        </div>
        <div class="col-md-4 column">
            <div class="tabbable" id="tabs-748524">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel-977391" data-toggle="tab">普通用户注册</a>
                    </li>
                    <li>
                        <a href="#panel-503949" data-toggle="tab">医生注册</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="panel-977391">



                        <form class="form-group" id="usersignup" enctype="multipart/form-data" method="post" action="/usersignup">

                            <div class="form-group">
                                <br/>
                                <label style="float: left;" for="username">请输入用户名</label>
                                <input id="username" name="username" class="form-control" type="text" placeholder="6-15位字母或数字" required="required"/>
                            </div>
                            <div class="form-group">
                                <label style="float: left;" for="userpwd">请输入密码</label>
                                <input id="userpwd" name="userpwd" class="form-control" type="password" placeholder="至少6位字母或数字" required="required"/>
                            </div>
                            <div class="form-group">
                                <label style="float: left;" for="userpwdconfirm">请再次输入密码</label>
                                <input id="userpwdconfirm" name="userpwdconfirm" class="form-control" type="password" placeholder="至少6位字母或数字" required="required"/>
                            </div>
                            <div class="form-group">
                                <label style="float: left;" for="useremail">请输入邮箱</label>
                                <input id="useremail" name="useremail" class="form-control" type="email" placeholder="例如:123@123.com" required="required"/>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-danger" data-dismiss="modal">取消</button>

                                <button class="btn  btn-lg btn-primary btn-block" type="submit" >提交注册</button>


                            </div>
                        </form>
                        <br/>
                        <a href="/login" >已有账号？点我登录</a>






                    </div>
                    <div class="tab-pane" id="panel-503949">
                        <form class="form-group" id="docsignup" enctype="multipart/form-data" method="post" action="/docsignup">
                            <div class="form-group">
                                <br/>
                                <label style="float: left;" for="docname">请输入用户名</label>
                                <input id="docname" name="docname" class="form-control" type="text" placeholder="6-15位字母或数字" required="required" />
                            </div>
                            <div class="form-group">
                                <label style="float: left;" for="docpwd">请输入密码</label>
                                <input id="docpwd" name="docpwd" class="form-control" type="password" placeholder="至少6位字母或数字" required="required"/>
                            </div>
                            <div class="form-group">
                                <label style="float: left;" for="docpwdconfirm">请再次输入密码</label>
                                <input id="docpwdconfirm" name="docpwdconfirm" class="form-control" type="password" placeholder="至少6位字母或数字" required="required"/>
                            </div>
                            <div class="form-group">
                                <label style="float: left;" for="docemail">请输入邮箱</label>
                                <input id="docemail" name="docemail" class="form-control" type="email" placeholder="例如:123@123.com" required="required"/>
                            </div>
                            <div class="form-group">
                                <label style="float: left;" for="dochospital">请输入所属医院</label>
                                <input id="dochospital" name="dochospital" class="form-control" type="text" placeholder="例如:第一附属医院" required="required"/>
                            </div>
                            <label for="exampleInputFile">请选择资格认证文件</label>
                            <input type="file" id="exampleInputFile" name="exampleInputFile" required="required"/>
                            <div class="text-right">
                                <button class="btn btn-danger" data-dismiss="modal">取消</button>
                                <button class="btn  btn-lg btn-primary btn-block" type="submit" >提交注册</button>

                            </div>
                            <br/>

                            <a href="/login" >已有账号？点我登录</a>
                        </form>
                    </div>
                    <div class="inner">
                        <p> 中国医学影像资源共享平台<a href="http://www.xjtu.edu.cn/"></a>, by <a href="http://www.xjtu.edu.cn/">@西安交通大学 2017</a>.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<br/>









<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/login.js}"></script>

</body>
</html>
 